.banner{
  width:100%;
  height:40rem;
}
.banner_contents {
  margin-left: 2rem;
  padding-top: 13rem;
}
.title {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.description {
  color:white;
  font-size: 2rem;
  font-weight: 200;
  width: 30rem;
  /* overflow: hidden; */
}
.actions {
  margin-top: 3rem;
}
